{{/*
Copyright (C) 2019  Josh Habdas <jhabdas@protonmail.com>

This file is part of After Dark.

After Dark is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

After Dark is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ define "header" }}
  {{ partial "masthead.html" . }}
  <style>
    header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  </style>
  {{ if .Params.tablehighlight }}
    <style>
      table tbody td {
        padding: 3px 0 20px 0;
      }
      table tbody td:last-of-type::first-line {
        font-weight: bold;
      }
    </style>
  {{ end }}
{{ end }}
{{ define "main" }}
  <style>
    .two-column-grid {
      display: inline-grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }
    nav[itemtype$="SiteNavigationElement"] {
      display: block;
    }
    nav[itemtype$="SiteNavigationElement"] a {
      font-size: large;
      margin-right: 10px;
    }
  </style>
  <div class="two-column-grid">
    <div>
      <img src="/images/jscott.gif" alt="Jason Scott (1987)">
      <nav itemscope itemtype="https://schema.org/SiteNavigationElement">
        <meta itemprop="name" content="About Menu">
        <a itemprop="url" style="text-decoration: none" HREF="news.html">NEWS</a><br>
        <a itemprop="url" style="text-decoration: none" HREF="/thoughts/">THOUGHTS</a><br>
        <a itemprop="url" style="text-decoration: none" HREF="links.html">LINKS</a><br>
        <a itemprop="url" style="text-decoration: none" HREF="sources.html">SOURCES</A><BR>
        <a itemprop="url" style="text-decoration: none" HREF="mailto:jason@textfiles.com">MAIL JASON</A><BR>
      </nav>
    </div>
    <div>
      <header>
        <h1>{{ .Title }}</h1>
        {{ partial "theme-toggle.html" . }}
      </header>
      {{ partial "breadcrumb.html" . }}
      {{ .Content }}
    </div>
  </div>
{{ end }}
{{ define "footer" }}
  {{ with .Params.pagefooter }}
    <p>{{ . | safeHTML }}</p>
  {{ end }}
{{ end }}
