{{/*
Copyright (C) 2019  Josh Habdas <jhabdas@protonmail.com>

This file is part of After Dark.

After Dark is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

After Dark is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ define "header" }}
  {{ partial "masthead.html" . }}
  <style>
    header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .two-column-grid {
      display: grid;
      grid-template-columns: min-content auto;
      grid-gap: 10px;
      grid-auto-rows: min-content;
      grid-template-areas:
        "a b"
        "c c"
      ;
    }
    .two-column-grid .media {
      grid-area: a;
    }
    .two-column-grid .content {
      grid-area: c;
    }
  </style>
{{ end }}
{{ define "main" }}
  <div class="two-column-grid">
    <div class="media">
      <img src="/images/source.gif" alt="TEXTFILES.COM-RELATED LINKS">
    </div>
    <div>
      <header>
        <h1>{{ .Title }}</h1>
        {{ partial "theme-toggle.html" . }}
      </header>
      {{ partial "breadcrumb.html" . }}
      {{ .Params.introtext | safeHTML }}
    </div>
    <div class="content">
      {{ .Content }}
    </div>
  </div>
{{ end }}
{{ define "footer" }}
  {{ with .Params.pagefooter }}
    <p>{{ . | safeHTML }}</p>
  {{ end }}
{{ end }}
