{{/*
Copyright (C) 2019  Josh Habdas <jhabdas@protonmail.com>

This file is part of After Dark.

After Dark is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

After Dark is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ define "header" }}
  {{ partial "masthead.html" . }}
  <style>
    header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    .two-column-grid {
      display: grid;
      grid-template-columns: min-content auto;
      grid-gap: 10px;
      grid-auto-rows: min-content;
      grid-template-areas:
        "a b"
        "c c"
      ;
    }
    .two-column-grid .media {
      grid-area: a;
    }
    .two-column-grid .content {
      grid-area: c;
    }
  </style>
  {{ if .Params.tablehighlight }}
    <style>
      table tbody td {
        padding: 3px 0 20px 0;
      }
      table tbody td:last-of-type::first-line {
        font-weight: bold;
      }
    </style>
  {{ end }}
{{ end }}
{{ define "main" }}
  <div class="two-column-grid">
    <div class="media">
      <img src="{{ .Params.mediaobject.src | relURL }}"{{ with .Params.mediaobject.alt }} alt="{{ . }}"{{ end }}>
    </div>
    <div>
      <header>
        <h1>{{ .Title }}</h1>
        {{ partial "theme-toggle.html" . }}
      </header>
      {{ partial "breadcrumb.html" . }}
      {{ .Content }}
    </div>
  </div>
  <table itemscope itemtype="https://schema.org/Collection">
    <thead>
      <tr>
        <th scope="col">Filename</th>
        <th scope="col">Size</th>
        <th scope="col">Description of the Textfile</th>
      </tr>
    </thead>
    <tbody>
      {{ range (index site.Data (default "" .Params.tabledata)) }}
        <tr itemscope
          {{- if eq .size nil }}
            itemtype="https://schema.org/Collection"
          {{- else }}
            itemtype="https://schema.org/TextDigitalDocument"
          {{- end -}}
        >
          <td itemprop="name">
            {{ $slug := (strings.TrimSuffix ".html" .filename) }}
            {{ $path := printf "/jason/thoughts/%s" $slug }}
            {{ if site.GetPage $path }}
              {{ if (gt .size 0) }}
                <a href="{{ .filename }}">{{ .filename }}</a>
              {{ else }}
                {{ .filename }}
              {{ end }}
            {{ else if $.Resources.GetMatch .filename }}
              <a href="/thoughts/{{ .filename }}">{{ .filename }}</a>
            {{ else }}
              {{ .filename }}
            {{ end }}
          </td>
          <td>{{ default "" (int .size) }}</td>
          <td itemprop="description">
            {{ if eq .size nil }}
              <b>{{ .description | safeHTML }}</b>
            {{ else }}
              {{ .description | safeHTML }}
            {{ end }}
          </td>
        </tr>
      {{ end }}        
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"><small>{{ .Params.tablefooter | safeHTML }}</small></td>
      </tr>
    </tfoot>
  </table>
{{ end }}
{{ define "footer" }}
  {{ with .Params.pagefooter }}
    <p>{{ . | safeHTML }}</p>
  {{ end }}
{{ end }}
