{{/*
Copyright (C) 2019  Josh Habdas <jhabdas@protonmail.com>

This file is part of After Dark.

After Dark is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

After Dark is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "masthead.html" . }}
{{ end }}
{{ define "main" }}
  <div class="one-column-centered">
    <header>
      <img src="{{ "/images/director.gif" | relURL }}" alt="THE TEXTFILES DIRECTORY">
      <p><small>
        The Current <a href="filestats">File Statistics</a> for textfiles.com<br>
        Check the bottom of the <a href="index.html">main page</a> for related sites, include ANSI, audio, PDF, and others.<br>
        Do everyone a favor and read the <a href="disclaimer.html">Disclaimer</a>.
      </small></p>
      <blockquote><i>
        The files on TEXTFILES.COM are maintained by somewhat arbitrary guidelines,
        so if a file you're looking for is not in one section, try a few others.
        Files are often in the "8+3" format, but since they're coming from all
        sorts of sources, this isn't guaranteed. Our focus is on the years
        1980-1995, but files from before and after sometime sneak in.
      </blockquote></i>
    </header>

    {{/* START from masthead.html */}}
    {{ $is_section_menu_enabled := ne .Site.Params.show_menu false }}
    {{ range $name, $entries := .Site.Menus }}
      {{ if eq $name "main" }}
        {{ if or (ne $name "main") (and (eq $name "main") $is_section_menu_enabled) }}
          {{ with $.Site.Params.layout.menu }}
            {{ $settings := (index . $name) | default dict }}
            {{ partial "components/navmenu.html" (dict "name" $name "entries" $entries "settings" $settings "page" $)}}
          {{ else }}
            {{ partial "components/navmenu.html" (dict "name" $name "entries" $entries "settings" dict "page" $)}}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{/* END from masthead.html */}}

    <footer>
      <p><small>
        AAAAH! MY EYES! <a href="javascript:document.querySelector('.theme-toggle').click()">Click here</a> if you prefer a black and white color scheme.
      </small></p>
      {{ partial "theme-toggle.html" . }}
      <p>Many people want to download an entire directory and sift through it on their own time. To assist this research, most of the directories have a file at the end that is an archive of that entire directory. It is compressed as well, so it takes less time than downloading the files one by one. Please feel free to download that way.</p>
      <p>Do you have textfiles you want to donate that are not here? Send them along to <a href="mailto:jason@textfiles.com">jason@textfiles.com</a>.</p>
    </footer>
  </div>
{{ end }}
{{ define "footer" }}
  {{ if not .Site.Params.layout.home.hide_blog }}
    <p>{{ partial "pagination.html" . }}</p>
  {{ end }}
  <small class="muted">
    {{ partial "copyright-notice.html" . }}
  </small>
{{ end }}
