:root {
  --trim-color: #000;
  --page-bg-color: #000;
  --page-bg-color-light: #FFF;
  --text-color: #0F0;
  --text-color-light: #000;
  --anchor-color: #0F0;
  --anchor-color-light: #00F;
  --anchor-alt-color: #0A0;
  --anchor-alt-color-light: #58F;
  --breadcrumb-link-color: #080;
  --hr-border-color: #0A0;
  --table-th-col1-bg-color: #0F0;
  --table-th-col2-bg-color: #0D0;
  --table-th-col3-bg-color: #0A0;
  --table-th-text-color: #000;
  --table-tfoot-bg-color: #040;
  --table-body-td-border-color: #0d1e26;
  --table-body-td-bg-color: #000c00;
}
@font-face {
  font-family: 'Noto Sans Mono';
  src: local('NotoSansMono-Bold') url(/fonts/NotoSansMono-Bold.woff2) format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: 'Noto Sans Mono';
  src: local('NotoSansMono-Regular') url(/fonts/NotoSansMono-Regular.woff2) format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia') url(/fonts/HackCascadia.woff2) format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia') url(/fonts/HackCascadia.woff2) format("woff2");
  font-weight: normal;
}

pre#scroller {
  width: 50em;
  height: 100vh;
  overflow-y: scroll;
}

/**
 * TEXTFILE LAYOUT
 * TODO: Combine breadcrumb override with About pages
 */
.textfile-layout {
  display: flex;
  flex-direction: column;
}
.textfile-layout nav a {
  display: inline-block;
  border: unset;
  color: var(--anchor-color);
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: large;
  text-decoration: none;
  border: 1px dashed var(--breadcrumb-link-color);
}
.textfile-layout nav a:hover {
  background-color: var(--table-tfoot-bg-color);
  transition: background-color 0.5s cubic-bezier(0.23,1,0.32,1) 0ms;
}
body.light .textfile-layout nav a:hover {
  background-color: var(--anchor-alt-color-light);
}
.textfile-layout *:not(pre) {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 48em;
}
.textfile-layout a[rel~="external"] {
  color: var(--table-th-col3-bg-color);
  text-decoration: none;
  display: inline-block;
}
.textfile-layout a[rel~="external"] figure {
  width: 74vw;
  max-width: 650px;
  margin: unset;
}
@media only screen and (max-width: 768px) {
  .textfile-layout a[rel~="external"] figure {
    width: 80vw;
    min-width: 480px
  }
  .textfile-layout a[rel~="external"] figcaption {
    font-size: smaller;
  }
}
.textfile-layout a[rel~="external"] img {
  max-width: 100%;
}
.textfile-layout dl {
  font-size: smaller;
  content: "";
  display: table;
  clear: both;
  margin: 10px auto 20px;
}
.textfile-layout dt {
  clear: both;
  display: inline;
  font-weight: bold;
}
.textfile-layout dt::after {
  content: ":";
  margin-right: 10px;
}
.textfile-layout dd {
  display: inline;
  margin: unset;
}
.textfile-layout div#viewport {
  border: 2px dashed var(--table-body-td-border-color);
  max-width: 90vw;
  margin: 10px auto 0;
  padding: 20px;
  box-shadow: 0 0 8vw 8vw #94b0ff18;
}
.textfile-layout pre#textfile {
  font-family: 'Noto Sans Mono', 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 16px;
  font-kerning: none;
  color: #aaa;
  text-rendering: optimizeSpeed;
  text-align: initial;
}
body.light .textfile-layout pre#textfile {
  border-color: inherit;
  color: #333;
}
.textfile-layout pre#textfile:empty {
  text-align: center;
}
.textfile-layout pre#textfile:empty::after {
  content: "<<<<< TEXTFILE EMPTY >>>>>"
}
.textfile-layout a[download] svg {
  stroke-width: 2;
  margin: 0 5px -10px -10px;
  padding: 5px;
  height: 20px;
  width: 20px;
}
.textfile-layout a[download] {
  display: inline-block;
  border: 0;
  background-color: inherit;
  color: var(--breadcrumb-link-color);
  cursor: pointer;
}
body.light .textfile-layout a[download] {
  color: var(--anchor-alt-color-light);
}


body {
  font-family: 'Noto Sans Mono', 'Courier New', Courier, monospace;
  /* line-height: 19px; */
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--page-bg-color);
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  body pre:not(#scroller) {
    font-size: 14px;
  }
}
body.light {
  color: var(--text-color-light);
  background-color: var(--page-bg-color-light);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}
body.dark {
  color: var(--text-color);
  background-color: var(--page-bg-color);
  transition: color 0.2s ease-out, background 0.2s ease-out;
}
a:link {
  color: var(--anchor-color);
}
body.light a:link {
  color: var(--anchor-color-light);
}
a:visited,
a:active {
  color: var(--anchor-alt-color);
}
body.light a:visited,
body.dark a:active {
  color: var(--anchor-alt-color-light);
}

hr {
  border-color: var(--hr-border-color);
}
h1 {
  margin-top: 0; /* TODO: See how this looks on the DEFCON page */
}


/**
 * MAIN DIRECTORY LISTING
 * TODO: Clean-up display override on About page
 */
.one-column-centered a:visited,
.one-column-centered a:active {
  color: #0F0;
}
.one-column-centered {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
.one-column-centered header img {
  max-width: 100%;
  margin-bottom: -20px;
}
body.light .one-column-centered header img {
  margin-bottom: initial;
}
.one-column-centered header,
.one-column-centered footer {
  max-width: 95vw;
}
@media only screen and (max-width: 768px) {
  .one-column-centered header,
  .one-column-centered footer {
    max-width: 100vw;
  }
}
.one-column-centered nav {
  display: flex;
  flex-direction: row; /* customized for e-text */
  flex-wrap: wrap;
  max-width: 60vw;
}
@media only screen and (max-width: 768px) {
  .one-column-centered nav {
    max-width: 90vw;
    flex-direction: column;
  }
}
.one-column-centered nav .entry {
  flex: 50% 0;
  text-align: left;
  margin-bottom: 10px;
}

/**
 * ETEXT DIRECTORY LISTING
 */
.two-column-flex-reverse-layout {
  background-color: var(--page-bg-color);
  color: #FFF;
}
body.light .two-column-flex-reverse-layout {
  background-color: #FFF;
  color: #000;
}
body.light .two-column-flex-reverse-layout {
  background-color: #FFF;
  color: #000;
}
body.light .two-column-flex-reverse-layout img {
  filter: invert(1);
}
.two-column-flex-reverse-layout a:link {
  text-decoration: none;
  color: #FFF;
}
.two-column-flex-reverse-layout a:visited {
  color: #FFF;
}
.two-column-flex-reverse-layout nav[itemtype*="SiteNavigationElement"] {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 7px auto 0;
  flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
  .two-column-flex-reverse-layout nav[itemtype*="SiteNavigationElement"] {
    flex-direction: column;
  }
}
.two-column-flex-reverse-layout nav[itemtype*="SiteNavigationElement"] .entry a[itemprop="url"] {
  font-weight: initial;
}
.two-column-flex-reverse-layout nav .entry {
  padding: 7px 40px;
  flex: 37% 0;
}
.two-column-flex-reverse-layout nav .entry a b {
  font-size: large;
}
.two-column-flex-reverse-layout nav[itemtype$="SiteNavigationElement"] .entry a[itemprop="url"] {
  font-weight: bold;
} /* customized for e-text */

/**
 * BREADCRUMB NAVIGATION
 */
ol[itemtype$="BreadcrumbList"] {
  list-style: none;
  padding-left: 0;
  font-weight: bold;
  margin-top: -14px;
}
ol[itemtype$="BreadcrumbList"] li {
  display: inline;
}
ol[itemtype$="BreadcrumbList"] li a {
  color: var(--breadcrumb-link-color);
  font-size: small;
}
ol[itemtype$="BreadcrumbList"] li:not(:last-of-type):after {
  content: "/"
}

/**
 * NON-DIRECTORY LIST PAGES
 */


/* TODO: Used on About page. Probably delete here...
nav a:not(:last-of-type)::after {
  content: " ::";
  margin-right: 10px;
} */

blockquote {
  font-style: oblique;
}
table[itemtype$="Collection"] {
  width: 100%;
  overflow-x: auto; /* allow horizontal scrolling */
}
table th,
table td {
  border-radius: 1mm;
  padding: 1mm;
}
table tbody td {
  border: solid 1px var(--table-body-td-border-color);
  background: var(--table-body-td-bg-color);
}
body.light table tbody td {
  border: solid 1px #FDF;
  background: #FFF;
}
body.dark table tbody td {
  border: solid 1px var(--table-body-td-border-color);
  background: var(--table-body-td-bg-color);
}

/* table tbody td:empty::after {
  content: "./..";
} */

table tfoot td {
  text-align: right;
  /* padding-top: 20px; */
}
table tbody tr:first-child td {
  /* padding-top: 10px; */
}
table tbody tr:last-child td {
  /* padding-bottom: 10px; */
}
table tbody td {
  vertical-align: top;
}

table th {
  text-align: left;
  color: var(--table-th-text-color);
}
body.light table th {
  color: #FFF;
}
body.dark table th {
  color: var(--table-th-text-color);
}

table tfoot td {
  background: var(--table-tfoot-bg-color);
}
body.light table tfoot td {
  background: #CCC;
}
body.dark table tfoot td {
  background: var(--table-tfoot-bg-color);
}

table th:nth-of-type(1) {
  background-color: var(--table-th-col1-bg-color);
}
body.light table th:nth-of-type(1) {
  background-color: #666;
}
body.dark table th:nth-of-type(1) {
  background-color: var(--table-th-col1-bg-color);
}

table th:nth-of-type(2) {
  background-color: var(--table-th-col2-bg-color);
}
body.light table th:nth-of-type(2) {
  background-color: #777;
}
body.dark table th:nth-of-type(2) {
  background-color: var(--table-th-col2-bg-color);
}

table th:nth-of-type(3) {
  background-color: var(--table-th-col3-bg-color);
}
body.light table th:nth-of-type(3) {
  background-color: #888;
}
body.dark table th:nth-of-type(3) {
  background-color: var(--table-th-col3-bg-color);
}
