<aside>
  <a target="_blank" rel="dns-prefetch external nofollow noopener" href="https://habd.as/go/ledger-nano-x">
    <figure>
      <img src="/ledger_banner_7-2-8x9-0.jpg" alt="Advertisement" itemprop="image" src="/ledger_banner_7-2-8x9-0.jpg">
      <figcaption>
        <small>
          <span itemprop="description">Ledger Nano X - The secure hardware wallet</span>
        </small>
      </figcaption>
    </figure>
  </a>
</aside>
