{{/*
Copyright (C) 2019  Josh Habdas <jhabdas@protonmail.com>

This file is part of After Dark.

After Dark is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

After Dark is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/}}

{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "masthead.html" . }}
  <div class="two-column-flex-reverse-layout">
    <center>
      <img src="/images/etext.jpg" alt="ETEXT">
    </center>
  </div>
{{ end }}
{{ define "main" }}
  <div class="two-column-flex-reverse-layout">
    {{ range $name, $entries := .Site.Menus }}
      {{ if eq $name "etext" }}
        {{ with $.Site.Params.layout.menu }}
          {{ $settings := (index . $name) | default dict }}
          {{ partial "components/navmenu.html" (dict "name" $name "entries" $entries "settings" $settings "page" $)}}
        {{ else }}
          {{ partial "components/navmenu.html" (dict "name" $name "entries" $entries "settings" dict "page" $)}}
        {{ end }}
      {{ end }}
    {{ end }}
    <center>
      <p><small>
        AAAAH! MY EYES! <a href="javascript:document.querySelector('.theme-toggle').click()">Click here</a> if you prefer a black and white color scheme.
      </small></p>
      {{ partial "theme-toggle.html" . }}
    </center>
  </div>
{{ end }}
{{ define "footer" }}
  {{ if not .Site.Params.layout.home.hide_blog }}
    <p>{{ partial "pagination.html" . }}</p>
  {{ end }}
  <small class="muted">
    {{ partial "copyright-notice.html" . }}
  </small>
{{ end }}
